*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 12px;
}

header {
  padding-bottom: 5px;
}

footer {
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  width: 90%;
}

#container {
  min-height: 100vh;
}

.inner > main {
  flex: 1 0 auto;
}

.inner > header ,
.inner > nav ,
.inner > footer {
  flex-shrink: 0;
}

header h1 a ,
header h1 a:hover {
  color: inherit;
}



/* ----------------
CSS from http://cssmenumaker.com/menu/flat-jquery-responsive-menu
---------------- */
#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#navigation:after,
#navigation > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#navigation #menu-button {
  display: none;
}
#navigation {
  width: auto;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  line-height: 1;
  margin-bottom: 8px;
  text-shadow: none;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #0c2b84;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#navigation > ul > li {
  float: left;
  width: 16.6%;
}
#navigation.align-center > ul {
  font-size: 0;
  text-align: center;
}
#navigation.align-center > ul > li {
  display: inline-block;
  float: none;
}
#navigation.align-center ul ul {
  text-align: left;
}
#navigation.align-right > ul > li {
  float: right;
}
#navigation.align-right ul ul {
  text-align: right;
}
#navigation > ul > li > a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#navigation > ul > li:hover > a,
#navigation > ul > li.active > a {
  color: #0c2b84;
}
#navigation > ul > li.has-sub > a {
  padding-right: 25px;
}
#navigation > ul > li.has-sub > a::after {
  position: fixed;
  margin-left: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#navigation > ul > li.has-sub:hover > a::after {
  border-color: #0c2b84;
}
#navigation ul ul {
  position: absolute;
  left: -9999px;
}
#navigation li:hover > ul {
  left: auto;
}
#navigation.align-right li:hover > ul {
  right: 0;
}
#navigation ul ul ul {
  margin-left: 100%;
  top: 0;
}
#navigation.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#navigation ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#navigation ul li:hover > ul > li {
  height: 32px;
}
#navigation ul ul li a {
  padding: 20px;
  width: 160px;
  font-size: 12px;
  text-transform: uppercase;
  background: #cccccc;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {
  color: #ffffff;
}
#navigation ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#navigation.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#navigation ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #navigation {
    width: 100%;
  }
  #navigation ul {
    width: 100%;
    display: none;
  }
  #navigation.align-center > ul,
  #navigation.align-right ul ul {
    text-align: left;
  }
  #navigation ul li,
  #navigation ul ul li,
  #navigation ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #navigation ul li a,
  #navigation ul ul li a {
    width: 100%;
  }
  #navigation > ul > li,
  #navigation.align-center > ul > li,
  #navigation.align-right > ul > li {
    float: none;
    display: block;
  }
  #navigation ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #navigation ul ul li:hover > a,
  #navigation ul ul li a:hover {
    color: #000000;
  }
  #navigation ul ul ul li a {
    padding-left: 40px;
  }
  #navigation ul ul,
  #navigation ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #navigation > ul > li.has-sub > a::after,
  #navigation ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #navigation #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #navigation #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #navigation #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #navigation .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #navigation .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #navigation .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #navigation .submenu-button.submenu-opened:after {
    display: none;
  }
}
/* ----------------
End of cssmenumaker
---------------- */
