*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 12px;
}

header {
  padding-bottom: 5px;
}

#navigation {
  margin: 8px auto 4px auto;
  width: 100%;
  padding-bottom: 16px;
}
#navigation ul {
  list-style: none;
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
#navigation ul > li {
  display: flex;
  position: relative;
  padding: 0;
  width: 100%;
  flex: 1;
}
#navigation ul > li > a {
  display: block;
  text-align: center;
  margin-bottom: 4px;
  padding: 8px 0px;
  background: transparent;
  color: #333;
  border-bottom: 4px solid #000;
  width: 100%;
}
#navigation ul > li > a:focus ,
#navigation ul > li > a:hover {
  border-bottom-color: #A2000A;
}
#navigation ul > li.active > a ,
#navigation ul > li.active > a:focus ,
#navigation ul > li.active > a:hover {
  border-bottom-color: #c5000c;
}

#navigation .show-menu {
  text-decoration: none;
  color: #fff;
  background: #c5000c;
  text-align: center;
  padding: 10px 0;
  display: none;
  cursor: pointer;
}
#navigation input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
#navigation input[type=checkbox]:checked ~ ul {
  display: flex;
}

footer {
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  width: 90%;
}

#container {
  min-height: 100vh;
}
.inner main {
  flex: 1;
  /*display:flex;*/
}

header h1 a ,
header h1 a:hover {
  color: inherit;
}

@media (max-width: 620px) {
  #navigation .show-menu {
    display:block;
  }
  #navigation ul {
    display: none;
  }
  #navigation ul > li {
    display: block;
  }
  #navigationn ul > li > a {
    width: auto;
  }
  /*Show menu when invisible checkbox is checked*/
  #navigation input[type=checkbox]:checked ~ ul {
    display: block;
  }
}
