
h1 {
  margin-bottom: 12px;
}

header {
  padding-bottom: 5px;
}

#navigation {
  margin: 8px auto 4px auto;
  width: 100%;
  padding-bottom: 16px;
}
#navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
#navigation ul > li {
  display: flex;
  position: relative;
  padding: 0;
  width: 100%;
  flex: 1;
}
#navigation ul > li > a {
  display: block;
  text-align: center;
  margin-bottom: 4px;
  padding: 8px 16px;
  background: transparent;
  color: #333;
  border-bottom: 4px solid #000;
  width: 100%;
}
#navigation ul > li > a:focus ,
#navigation ul > li > a:hover {
  border-bottom-color: #A2000A;
}
#navigation ul > li.active > a ,
#navigation ul > li.active > a:focus ,
#navigation ul > li.active > a:hover {
  border-bottom-color: #c5000c;
}

footer {
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#container {
  min-height: 100vh;
}
.inner main {
  flex: 1;
  /*display:flex;*/
}
